body {
  max-width: 650px;
  margin: auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #2c2c2c;
}
h1,
h2,
h3 {
  line-height: 1.2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.projects-container a {
  height: 100px;
  overflow: hidden;
}

.eyes-thumbnail {
  background-color: #000;
}

.life-thumbnail {
  width: 100%;
  object-fit: cover;
}
