body {
  padding: 0;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-height: 100vh;
  max-width: 100%;
  /* correct aspect ratio when flex-child */
  align-self: center;
}

.description-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 250px;
}

.description-container h3 {
	margin: 0;
}

.description-container a {
	margin-top: auto
}
