{{ define "extra-css" }}
<link rel="stylesheet" href="/css/blog.css">
{{ if .Params.extra_css }}
<link rel="stylesheet" href="/css/{{.Params.extra_css}}.css">
{{ end }}
{{ if .Params.code_highlighting }}
<link rel="stylesheet" href="/vendor/highlightjs-shades-of-purple.css">
{{ end }}
{{ end }}

{{ define "extra-js" }}
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/tippy.min.js"></script>
{{ if .Params.code_highlighting }}
<script src="/vendor/highlight.min.js"></script>
<script>
hljs.configure({cssSelector: "code", languages: ["javascript"]});
hljs.highlightAll();
</script>
{{ end }}
<script>
    tippy("sup", {
      content(e) {
        const labelledBy = e.getAttribute("aria-labelledby");
        const label = document.getElementById(labelledBy);
        return label.innerHTML;
      },
      allowHTML: true,
      interactive: true,
      arrow: false,
    });
</script>
{{ end }}


{{ define "main" }}
<article id="{{ .Title | urlize }}" class="blog-post">
  <h1>{{ .Title }}</h1>
  {{ with .Params.tags }}
  <div class="post-tags">
    {{ range . }}<a href="/tags/{{ . | urlize }}/" class="tag">{{ . }}</a>{{ end }}
  </div>
  {{ end }}
  {{ .Content }}
</article>
{{ end }}
