body {
  max-width: unset;
  margin: 0;
  padding: 0;
}

.gallery-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-image-container:not(:last-child) {
  margin-bottom: 24px;
}

.gallery-image-container img {
  max-height: 100vh;
  max-width: 100%;
  margin: 0;
}

.gallery-image-description {
  padding: 24px;
  width: 250px;
}
