sup {
  font-size: 0.825rem;
  margin-left: 2px;
  color: blue;
}

sup + sup::before {
  content: ",";
}

footer span:first-child {
  color: blue;
  outline: 1px solid blue;
  width: 1rem;
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.825rem;
  text-align: center;
}

.tippy-box {
  background: #fff;
  border: 1px solid blue;
  color: #2c2c2c;
  padding: 8px;
  border-radius: 0px;
  font-size: 0.825rem;
  font-family: sans-serif;
}

code {
  background-color: #ededed;
  padding: 2px 4px;
  border-radius: 3px;
}

pre.snippet {
  background-color: #f8f8f8;
  border: 1px solid pink;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #603b42 pink;
  padding: 8px;
  border-radius: 3px;
}

blockquote.chat-from-me {
  background: #dee5ff;
  border-radius: 10px;
  padding: 12px;
  margin: 0;
}

blockquote.chat-from-gpt {
  background: #e6e6e6;
  border-radius: 10px;
  padding: 12px;
  margin: 0;
}
