.log {
  margin-bottom: 64px;
}

.log-key {
  display: flex;
  margin-bottom: 32px;
}
.log-key span {
  margin: 0 1vw;
  line-height: 24px;
  font-size: 12px;
}
.log-entry {
  display: flex;
  position: relative;
}

.log-entry__date {
  position: absolute;
  right: 100%;
  margin-right: 32px;
  line-height: 24px;
  font-size: 12px;
}

@media (max-width: 850px) {
  .log-entry__date {
    color: #aeaeae;
    margin-right: 0;
    left: 10px;
  }
}

.log-entry-task {
  width: calc(650px / 5);
  height: 24px;
  background: #fff;
}

.log-entry-task.exercise.true {
  background: #264653ff;
}
.log-entry-task.medidate.true {
  background: #2a9d8fff;
}
.log-entry-task.bedtime.true {
  background: #e9c46aff;
}
.log-entry-task.journal.true {
  background: #f4a261ff;
}
.log-entry-task.pilates.true {
  background: #e76f51ff;
}
