main {
  height: 0;
}
body {
  overflow: unset;
}
.message-container {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.message {
  border-radius: 12px;
  font-family: sans-serif;
  width: 300px;
  margin: 16px 8px;
  padding: 24px;
  position: relative;
  color: #444;
  font-weight: 100;
  box-shadow: 0 0 1 1 #444;
}
.message-left {
  background-color: #ffc8dd;
  margin-right: auto;
}
.message-right {
  background-color: #bde0fe;
  margin-left: auto;
}
.message-left.message--react::after {
  right: 24px;
  background: #ffafcc;
}
.message-right.message--react::after {
  left: 24px;
  background: #a2d2ff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message--react::after {
  animation: fadeIn 80ms;
  position: absolute;
  outline: 0.5px solid #7b7b7b;
  bottom: -12px;
  padding: 4px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}
.message--🙏-react::after {
  content: "🙏";
}
.message--👆-react::after {
  content: "👆";
}
.message--🥰-react::after {
  content: "🥰";
}
.message--💦-react::after {
  content: "💦";
}
.message--💯-react::after {
  content: "💯";
}
.message--🥵-react::after {
  content: "🥵";
}
.message--👏-react::after {
  content: "👏";
}
.message--🙌-react::after {
  content: "🙌";
}
