summary {
  cursor: pointer;
  list-style: none;
  background: #333;
  display: inline-block;
  line-height: 1;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #eee;
  padding: 2px;
  text-align: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
details[open] {
  border: 1px solid black;
  padding: 8px 32px;
  margin: 16px 0;
}

section {
  margin: 16px 0;
  padding: 8px;
}

a,
a:visited {
  color: blue;
  display: inline-block;
}

a:hover {
  animation: oscillate 200ms infinite steps(1, start);
}

@keyframes oscillate {
  0%,
  50% {
    transform: rotate(-1deg);
  }
  51%,
  100% {
    transform: rotate(1deg);
  }
}
