<!DOCTYPE html>
<html lang="en">
  {%- include head.html extra_css="log"-%}

  <body>
    <main aria-label="Content">
      <div class="log">
        {{ content }}
        <h4>key:</h4>
        <div class="log-key">
          {% for task in site.data.log[0].tasks %}
          <div class="log-entry-task {{task[0]}} true"></div>
          <span>{{task[0]}}</span>
          {% endfor %}
        </div>
        <div class="log">
          {% for entry in site.data.log %}
          <div class="log-entry">
            <span class="log-entry__date">{{entry.date}}</span>
            {% for task in entry.tasks %}
            <div class="log-entry-task {{task[0]}} {{task[1]}}"></div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <p>
          The experiment is over. I injured my leg running which prevented me
          from exercising, then I basically gave up on medidating even for 10
          minutes. I also stopped updating this page every day: the importance
          of getting back up on horses.
        </p>
        <p>¯\_ (ツ)_/¯</p>
      </div>
    </main>
  </body>
</html>
